*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1{
  margin-top: 50px;
}
.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
}
.inner-container{
  width: 450px;
  height: 290px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
}
.generate{
  width: 200px;
  outline: none;
  border: none;
  background-color: black;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 0.9rem;
  font-weight:700;
  border-radius: 10px;
}
.generate:hover{
  background-color: rgb(33, 31, 31);
}